/Ten2Five/Ten2Five/bin
/Ten2Five/Ten2Five/obj
/Ten2Five/Ten2Five/Ten2Five.csproj.user
/Ten2Five/Ten2Five.suo
/Resources/_todo.sqlite
/Ten2Five/.vs/Ten2Five/v15/.suo
/Ten2Five/packages/CSCore.1.2.1.1/CSCore.1.2.1.1.nupkg
/Ten2Five/packages/CSCore.1.2.1.1/lib/net35-client/CSCore.XML
/Ten2Five/packages/CSCore.1.2.1.1/lib/net35-client/CSCore.dll
*.mp3
*.m3u
/Resources/.vs/ten2five/v15/.suo
/Resources/ten2five.pdb
