/Ten2Five/Ten2Five/bin/
/Ten2Five/Ten2Five/obj/
/Ten2Five/Ten2Five/Ten2Five.csproj.user
/Ten2Five/Ten2Five.suo
/Resources/_todo.sqlite
/Ten2Five/.vs/
/Ten2Five/packages/
*.mp3
*.m3u
/Resources/.vs/
/Resources/ten2five.pdb
